[submodule "contrib/ComfyUI_face_parsing"]
	path = contrib/ComfyUI_face_parsing
	url = https://github.com/Ryuukeisyou/comfyui_face_parsing.git
[submodule "contrib/ComfyUI_fnodes"]
	path = contrib/ComfyUI_fnodes
	url = https://github.com/syaofox/ComfyUI_fnodes.git
